.leaderboard-title{
    color: #000000;
    text-align: center;
    padding-left: 15px;

  }
  .leaderboard-table{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 12px;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .leaderboard-table thead tr {
        background-color: #7ED957;
        color: #ffffff;
        text-align: left;
    }
    .leaderboard-table th,
.leaderboard-table td {
    padding: 12px 15px;
}
.leaderboard-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.leaderboard-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.lederboard-table tbody tr:last-of-type {
    border-bottom: 2px solid #7ED957;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #7ED957;
}