{% extends 'base.html' %}
{% block content %} 
<body>
    <div class="container-fluid">
          <center><h2>DID YOU KNOW?</h2></center> 
    </div>
    
    <div class="row text-lg-left">
      <h2>Carbon Footprint</h2>
     
      <div class="CF">
          <h5><p>A carbon footprint can be used to measure the amount of carbon dioxide emissions as a result of an individual's, organisation's, or  nation's actions.</p></h5>
      </div>

      <div class="IPCC">
        <h5><p>It is unequivocal that human influence has warmed the atmosphere, ocean and land" - IPCC, 2021</p></h5>
      </div>

      <div>
        <div class="Fact1">
            <h5><p>Human activity has warmed the climate at a rate which is unprecedented in the last 2000 years.</p></h5>
        </div>
    
        <div class="Fact2">
            <h5><p>The effects of human induced climate change are felt in every region globally.</p></h5>
        </div>
    
        <div class="Fact3">
           <h5><p>Climate change will disproportionately impact the global south due to increased vulnerability and lower adaptive capacity.</p></h5>
        </div>
      </div>

      <div class="Myth">
        <div>
            <h2>Climate Myth VS. Science</h2>
            <h3>Myth 1. The climate has changed before so we do not need to worry</h3>
            <h5><p>It is true that the climate has hugely changed over the course of it’s 4.5 billion year existence. However, the climate responds to whatever forces it to change at the time, and currently humans are the dominant influence.</p></h5>
        </div>
    
        <div>
            <h2>Climate Myth VS. Science</h2>
            <h3>Myth 2. Climate change is a future problem</h3>
            <h5><p>We are already seeing the devastating effects of climate change, it is the biggest environmental challenge humanity has ever seen. Climate change is already adversely affecting the oceans, human health, agriculture, sea level, biodiversity and the economy.</p></h5>
        </div>
    
        <div>
            <h2>Climate Myth VS. Science</h2>
            <h3>Myth 3. Climate models are unreliable</h3>
            <h5><p>Climate models are mathematical representations of major drivers of climate, including the atmosphere, oceans, land and ice which can be used to recreate past climate or predict future climate. Many models have accurately projected changes in global surface temperature.</p></h5>
        </div>
      </div>

      <div>
        <h2>More Info...</h2>
        <img class="img" src="">
        <img class="img" src="">
        <img class="img" src="">
      </div>
    </div>
</body>

{% endblock %}