{% extends 'base.html' %}
{% block content %} 
 
<head>
    <meta charset="UTF-8">
   <title>Carbon Crush Leaderboard</title>
    <link rel="stylesheet" href="lboard_styles.css">
</head> 
<body>

<!--JOIN A TEAM / CREATE A TEAM BUTTONS-->  

  <center>
  <button class="btn">Join a Team</button>
  <button class="btn">Create a Team</button>
  </center>

<!--END BUTTONS-->
  
   <div class="leaderboard-title">
    <h1> Carbon Crush Leaderboard</h1>
    </div>
    <table class="leaderboard-table">
        <thead>
            <tr>
                <th> Place </th>
                <th>Team Name</th>
                <th>Total Carbon Offset </th>
            </tr>
        </thead>
        <tbody>
            <tr class="active-row">
                <td> First Place </td>
                <td>Marketing</td> 
                <td> 120 </td>
            </tr>
            <tr>
                <td> Second Place </td>
                <td>Finance</td> 
                <td> 96 </td>
            </tr>
            <tr>
                <td> Third Place </td>
                <td>Analytics</td> 
                <td> 84 </td>
            </tr>
        </tbody>
    </table>

<br>



</body>  


{% endblock %}