{% extends 'base.html' %}
{% block content %}

<body>
      <center><h5><b>Environmental Pledge</b></h5></center>
<br>

    <div>

    {% if pledgesresult %}
      <h5><p>You're on your way to becoming an environmental superstar!</p><p>Your pledges for this week are:</p></h5>
      {%for each in pledgesresult%}
      <h5><p class="CarbonCrush3"> * {{each}}</p></h5>

      {%endfor%}
      
      <!--EXAMPLE PURPOSES-->
      <center><button onclick="myFunction()" class="btn"><a href="{{ url_for('your_scores_profile') }}">Save Your Score</a></button></center>
      <!--END EXAMPLE PURPOSES-->

    {% endif %}

    <center><img src="../static/images/CC - icon green mail.png" alt="Carbon Crush" style="width:35%;"></center>

      <h5 class="text-hover"><p>Off-set your <a href="{{ url_for('calculator') }}">Carbon Footprint</a> score by making your Environmental Pledge for the next 7 days.</p>
      <!--Select items to pledge for this week.-->
      <p>Select your pledge actions from the following items.</p>
      <p>Press Save Score to add your results to your profile.</h5></p>

    </div><!--END TEXT INTRO-->

    <br>
    
    <div>
      <form action ="#" method = "POST" >      
        <fieldset class="checkbox">
          <legend><b>Make your Environmental Pledge</b></legend>
   
         <input type="checkbox" id = "pledge1"  name = "pledges" value ="Use a waterBottle">
         <label for="pledge1"><b>Fill up and use a re-usable water-bottle<b></label><br>

          <input type="checkbox" id ="pledge2" name = "pledges" value=" Use a resusableCup"><label for ="pledge2"><b>Bring a re-usable coffee cup for your daily Pret/Starbucks Coffee<b></label><br>

          <input type="checkbox" id = "pledge3" name= "pledges" value="cycle to work"><label for = "pledge3"><b>Cycle to work<b></label><br>

          <input type="checkbox" id = "pledge4" name ="pledges" value="no new clothes for a month"><label for = "pledge4"><b>Commit to buying no new clothes for a month<b></label><br>

          <input type="checkbox" id = "pledge5" name = "pledges" value="rent clothes"><label for = "pledge5"><b>Rent an item of clothing for a special occasion instead of buying new<b></label><br>

          <input type="checkbox" id = "pledge6" name ="pledges" value="Eat less meat"><label for= "pledge6"><b>Eat less meat<b></label><br>

          <input type="checkbox" id = "pledge7" name = "pledges" value="Grow your own vegetables"><label for = "pledge7"><b>Grow your own vegetables or buy local food<b></label><br>

          <input type="checkbox" id = "pledge8" name = "pledges" value="Take the stairs"><label for = "pledge8"><b>Walk the stairs instead of taking the lift<b></label><br>

          <input type="checkbox" id="pledge9" name="pledges" value="Cut out single use plastic"><label for = "pledge9"><b>Cut out single use plastic<b></label><br>

          <input type="checkbox" id = "pledge10" name = "pledges" value="Pick up litter"><label for = "pledge10"><b>Pick up litter from your local neighbourhood</b></label><br>

          <input type="checkbox" id = "pledge11" name="pledges" value="email your MP"><label for = "pledge11"><b>Email you local MP to endorse anti-plastic legislation</b></label><br>

          <input type="checkbox" id = "pledge12" name = "pledges" value="Download and use refill app"><label for = "pledge12"><b>Download the Refill App to find your nearest refill point and use it</b></label><br>

          <input type="checkbox" id = "pledge13" name = "pledges" value="Shop at nearest supermarket"><label for = "pledge13"><b>Shop at your nearest zero-waste supermarket</b></label><br>

          <input type="checkbox"  id = "pledge14" name = "pledges" value="Repair broken or damaged items"><label for = "pledge14"><b>Repair broken or damaged items at your nearest repair cafe</b></label><br>

          <input type="checkbox" id = "pledge15" name= "pledges" value=" List unwanted items on freecycle"><label for = "pledge15"><b>List your unwanted items on Freecycle to find a better home</b></label><br>

          <input type="checkbox" id = "pledge16" name= "pledges" value="Talk about environmental issues"><label for = "pledge16"><b>Talk to your colleagues, friends and family about environmental issues and how you can make a difference</b></label><br>

          <input type="checkbox" id="pledge17" name="pledges" value="Use fresh ingredients"><label for = "pledge17"><b>Make your own breaksfast, lunch and dinner with fresh ingredients</b></label><br>
          
          <br>      
          
        <!--submit button-->
          <center><input type="submit" value="Enter Your Pledge" class="btn2"/></center>
          
          <br>
        </fieldset>      
      </form>
    </div><!--END FORM-->

<!--PLEDGE RESULTS-->
    <!--
    {% if pledgesresult %}
      <p class="centre"> Your pledges for this week are :</p> 
        {%for each in pledgesresult%}
        <p>{{each}}</p>
        {%endfor%}
    {% endif %} -->

<!--END PLEDGE RESULTS-->         
    
    
</body>

{% endblock %}

