{% extends 'base.html' %}
{% block content %} 
<head>
    <meta charset="UTF-8">
    <title>Carbon Crush Your Scores</title>
    <link rel="stylesheet" href="lboard_styles.css">

</head> 

<body>

    <div class="container-fluid">
      
<!--PRFOFILE LOGIN-->

      <article class="carbon_crush2">
      
        <h5><p>Profile</p></h5>
        
        <div>
        <form class="fieldset2" action="/">

        <div class="form-floating mb-3">
        
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        <label for="name" for="floatingInput"></label> 
      
        </div><!--END EMAIL SIGN-IN-->

        <div class="form-floating mb-3">

        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
        <label class="fieldset2" for="pwd"></label>
        
        <br>

        </div><!--END PASSWORD SIGN-IN-->

        <center><button onclick="myFunction()" class="btn"><a href="{{ url_for('your_scores_profile') }}">Sign In</a></button></center>
      
        <br><br>
      
        </form>
        </div><!--END SIGN-IN BOX-->



    </div><!--END CONTAINER-FLUID-->
    <br>
    <br>
    
    {% if pledgesresult %}
      <h3> Your pledges are :</h3> 
        {%for each in pledgesresult%}
        <p>{{each}}</p>
        {%endfor%}
    {% endif %}
      
      

   
      


       

    
</body>

{% endblock %}