{% extends 'base.html' %}
{% block content %} 
<head>
    <meta charset="UTF-8">
    <title>Carbon Crush Your Scores</title>
    <link rel="stylesheet" href="lboard_styles.css">
</head> 

<body>

    <div class="container-fluid">

<!--PRFOFILE LOGIN-->

      <article class="carbon_crush2">
      
        <h5><p>Profile</p></h5>
        
        

<div>
        <div class="welcome">

        <center><h5><p><b>HELLO</b></p></h5></center>
        
        <center><h4><p><b><i>*USER NAME*</i></b></p></h4></center>
        
        <h5><p><b>Your Best Score:</b> 90</p></h5>
        <h5><p><b>Your Team:</b> Marketing</p></h5>
        <h5><p><b>Last Login:</b> 19.10.2021</p></h5>
        
        </div><!--END WELCOME STATUS BOX-->

      </article><!--END CARBON CRUSH PROFILE-->
</div>
      

      <br>

    <!--PROFILE YOUR SCORES-->
    
      <div>
      <center><h5><b>Your Scores</b></h5></center>
      </div><!--END YOUR SCORES HEADING-->

      <div>
        <table class="leaderboard-table">
            <thead >
                <tr class="table_header">
                    <th>Date</th>
                    <th>Off-set Score</th>
                    <th>Carbon Footprint</th>
                    <th>Pledge Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12/10/2021</td>
                    <td><b>140</b></td> 
                    <td>140</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>19/10/2021</td>
                    <td><b>90</b></td> 
                    <td>130</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>NEW DATE</td>
                    <td><b>NEW SCORE</b></td> 
                    <td>NEW SCORE</td>
                    <td>NEW SCORE</td>
                </tr>
            </tbody>
        </table>
      </div><!--END YOUR SCORES TABLE-->

    </div><!--END CONTAINER-FLUID-->
    <br>
    <br>
    
    {% if pledgesresult %}
      <h3> Your pledges are :</h3> 
        {%for each in pledgesresult%}
        <p>{{each}}</p>
        {%endfor%}
    {% endif %}
      
      
    
   
      


       

    
</body>

{% endblock %}